@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anti Black Market</h1>
    <p class="lead">
        A centralized gas stations system proposed by a government keeping track of citizens’ monthly use of gas, in addition to monitoring gas station runners’ integrity by keeping track of the expected amount of gas at the station against the amount required for a refill request.
        The system keeps track of each citizen’s ID (provided by any means) to make sure that each citizen does not exceed a quota of transactions per month.
        Additionally, each gas station will be monitored, and through its interface, the clients (citizens) would request to make fueling transactions.
    </p>
</div>

<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

</div>
//-->
